h1 {
  font-size: 1.6rem;
}
a:visited {
  color: #333;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  gap: 2rem;
  background: #7cbb3c;
  color: #5f3e3c;

  grid-area: "header";
}

.header__nav-bar {
  position: relative;
}
.header__nav-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__cart {
  height: 3rem;
  cursor: pointer;
}

.nav-icon {
  height: auto;
  width: 5rem;
  padding-left: 1rem;
}

.nav-dropdown:before {
  content: "";
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  border-style: solid;
  border-width: 0 1rem 1rem 1rem;
  border-color: transparent transparent #7cbb3c transparent;
}
.nav-item:hover .nav-dropdown {
  display: block;
}

.dropdown-item {
  padding: 0.5rem;
  color: #5f3e3c;
  font-size: 1.4rem;
}

.dropdown-item:hover {
  background-color: #5ca373;
}

.nav-dropdown {
  width: 10rem;
  margin-top: 2rem;

  list-style-type: none;
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  z-index: 1rem;
  background-color: #7cbb3c;
  box-shadow: 0.2rem 0.6rem 0.6rem rgba(0, 0.1, 0.1, 0.1);
  display: none;
}

.header__logo {
  width: 3.5rem;
  padding-top: 0.5rem;
}
